RewriteEngine On
RewriteRule ^/$ /index.php [NC,L]
RewriteRule ^pc/eu/profiles/([a-z]*-[0-9]*)/quickplay$ /over.php [NC,L]
RewriteRule ^pc/eu/profiles/([a-z]*-[0-9]*)/competitive$ /over.php [NC,L]
RewriteRule ^ps4/eu/profiles/([a-z]*-[0-9]*)/quickplay$ /over.php [NC,L]
RewriteRule ^ps4/eu/profiles/([a-z]*-[0-9]*)/competitive$ /over.php [NC,L]
RewriteRule ^xbox/eu/profiles/([a-z]*-[0-9]*)/competitive$ /over.php [NC,L]
RewriteRule ^xbox/eu/profiles/([a-z]*-[0-9]*)/quickplay$ /over.php [NC,L]
RewriteRule ^pc/na/profiles/([a-z]*-[0-9]*)/competitive$ /over.php [NC,L]
RewriteRule ^pc/na/profiles/([a-z]*-[0-9]*)/quickplay$ /over.php [NC,L]
RewriteRule ^ps4/na/profiles/([a-z]*-[0-9]*)/competitive$ /over.php [NC,L]
RewriteRule ^ps4/na/profiles/([a-z]*-[0-9]*)/quickplay$ /over.php [NC,L]
RewriteRule ^xbox/na/profiles/([a-z]*-[0-9]*)/competitive$ /over.php [NC,L]
RewriteRule ^xbox/na/profiles/([a-z]*-[0-9]*)/quickplay$ /over.php [NC,L]
